<html>
    <body>
        <h1>Predict Upgrading of Credit Card</h1>
        <form action ="/" method="post">
            <p>Please enter the purchase number: </p>
            <p><input type="number" step="0.01" name="purchases"></p>
            <p>Please enter if there is Supp Card: </p>
            <p><input type="number" step="1" name="suppcard"></p>
            <p><input type="submit" value="Enter"></p>
        </form> 
        <p>{{result1}}</p>
        <p>{{result2}}</p>
        <p>{{result3}}</p>
        <p>{{result4}}</p>
        <p>{{result5}}</p>
    </body>
</html>